
* {
    padding: 0;
    margin: 0;
}

body {
    background: lightblue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://source.unsplash.com/800x500/?programing) no-repeat;
    background-size: cover;
}

#navega {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: rgb(0, 217, 255);
    padding: 0.5em 1em;
    outline: none;
    border: groove 2px black;
    box-shadow: 2px 2px 4px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #03eaff;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.55s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    color: #171616;
    transform: scale(1.1);
  }
  
  button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }

  #button-style {
    margin: 10px;
    color: black;
  }

#link-visited:visited {
    text-decoration: none;
}

#link-visited:link {
    text-decoration: none;
}

#bloco-notas {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: aliceblue;
   font-size: 2.3rem;
   padding:  0.1rem;
   margin: 10px;
   -webkit-text-stroke-width: 0.1rem;
   -webkit-text-stroke-color: black;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.871);
}

#agenda {
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 10px;    
}

#anota {
    border: 4px groove rgb(255, 255, 255);
    border-radius: 10px;
    resize: none;
    margin: 15px;
    padding: 15px;
    font-size: 16px;
    background: url(/assets/img/fundo.jpg) no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 4px black;
}

@media (min-width: 320px) and (max-width: 900px) {
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        padding: 0px auto;
        width: 100%;
        background: url(https://source.unsplash.com/1378x800/?programing) no-repeat;
        background-size: cover;
        background-position: center;
    }

    #navega {
        max-width: 250px;
    }

    button {
        font-size: 0.8rem;
    }

    .button-style {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100px;
        height: 100px;
    }
    
    #bloco-notas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0 auto;
        padding: 0 auto;
    }

    #agenda {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 10px;
        max-width: 150px;
        min-height: 10px;
    }
    
    legend {
        font-size: 1.5rem;
        max-width: 150px;
        min-height: 15px;
    }
    
    #anota {
        border: 4px groove black;
        border-radius: 10px;
        resize: none;
        margin: 0 auto;
        padding: 0 auto;
        max-width: 260px;
        max-height: 400px;
        box-shadow: 2px 2px 4px black;
    }
    
}