* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/assets/img/fundo.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
    margin-top: 10px;
    color: aqua;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.871);
    font-size: 1.3rem;
    text-align: center;
}

.title {
    margin-top: 10px;
    color: rgb(241, 42, 15);
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.871);
    font-size: 3rem;
    text-align: center;
}


.button, a {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.1rem;
    text-decoration: none;
}

button {
    font-size: 2rem;
    border: 2px groove black;
    border-radius: 30px;
    margin-top: 50px;
    z-index: 1;
    font-size: 2rem;
    font-weight: 500;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    background-color: hsl(0, 0%, 100%);
  }
  
  button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
  }

  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc2f70;
    transform-origin: center left;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }
  
  
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

@media (min-width: 320px) and (max-width: 600px) {
    body {
        display: flex;
        font-size: 2rem;
        margin: 0 auto;
        padding: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}